<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HarmonySwiftKitMacOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>HarmonySwiftKitTvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>HarmonySwiftKitiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC9B6B7C1DEEDA93006F6BDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC9B6B851DEEDA93006F6BDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC9B6B9B1DEEDB44006F6BDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC9B6BA31DEEDB44006F6BDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC9B6BB71DEEDB78006F6BDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC9B6BBF1DEEDB78006F6BDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC9B6BD31DEEDBA1006F6BDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC9B6BDB1DEEDBA1006F6BDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
